<div class="team-2" id="team-2">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Featured Categories</h2>

        <h5 class="description">Our top trending categories</h5>
      </div>
    </div>
    <!--  -->
    <!--  -->
    <!-- <div class="row">
      <div class="col-md-4" *ngFor="let feature of featured">
        <div class="card card-profile card-plain">
          <div class="card-header card-header-image">
            <a href="#pablo">
              <img class="img" src="../../../assets/img/categories/crypto.png">
            </a>
          </div>
          <div class="card-body ">
            <h4 class="card-title">{{feature.name}}</h4>
          </div>
        </div>
      </div>
    </div> -->

    <!--  -->
    <!--  -->

    <div class="row">
      <div class="col-md-4" *ngFor="let feature of featured">
        <div class="card card-profile card-plain">
          <a href="/category/crypto">
            <div class="card-header card-header-image">

              <img class="img" src="../../../assets/img/categories/crypton.png">
            </div>
            <div class="card-body ">
              <h4 class="card-title">{{feature.name}}</h4>
            </div>
          </a>

        </div>
      </div>
    </div>
    <!--  -->
    <!--  -->
  </div>