.card-full {
  margin-top: -20px;
}
/* .page-header {
      height: 70vh;
    } */

/* .main {
      margin-top: 25vh;
    } */
.test {
  margin-bottom: 30px;
}
.card-header-image {
  height: 150px;
  overflow: hidden;
}
.img {
  min-height: 150px;
}
.card-footer i {
  margin-top: 5px;
}
.title-test {
  font-weight: 700;
  font-family: "Roboto Slab", "Times New Roman", serif;
}
.card:hover {
  background-color: #eee;
  transition: background-color ease-in-out 0.5s;
}
/* .main {
  margin-top: 20vh;
} */
