<div class="row justify-content-center">
  <button class="btn btn-warning btn-fab btn-round" [disabled]="page == 1" (click)="previous()">
    <i class="material-icons">keyboard_arrow_left</i>
  </button>
  <!-- <button *ngIf="page > 1" class="btn btn-fab btn-round btn-custom" (click)="previous()">{{page-1}}</button> -->
  <button class=" btn btn-fab btn-round btn-warning ml-5 mr-5">{{page}}</button>
  <!-- <button class="btn btn-fab btn-round btn-custom " (click)="next() ">{{page+1}}</button> -->
  <button class="btn btn-warning btn-fab btn-round " (click)="next() ">
    <i class="material-icons ">keyboard_arrow_right</i>
  </button>
</div>