<div class="container">
  <div class="row">
    <div class="col-md-8 ml-auto mr-auto text-center">
      <h2 class="title">We have it all covered !</h2>
      <h5 class="description">Find your preferred job</h5>
    </div>
  </div>
  <!--  -->
  <!--  -->
  <!-- <div class="row">
        <div class="col-md-4" *ngFor="let feature of featured">
          <div class="card card-profile card-plain">
            <div class="card-header card-header-image">
              <a href="#pablo">
                <img class="img" src="../../../assets/img/categories/crypto.png">
              </a>
            </div>
            <div class="card-body ">
              <h4 class="card-title">{{feature.name}}</h4>
            </div>
          </div>
        </div>
      </div> -->

  <!--  -->
  <!--  -->

  <div class="row">
    <div class="col-md-4">
      <div class="card card-profile card-plain">
        <a href="microjobs/1">
          <!-- <div class="card-header card-header-image">

            <img class="img" src="../assets/img/svg/boxes.svg">
          </div> -->
          <div class="card-body text-center">
            <img class="img" src="../assets/img/svg/boxes.svg" height="125px" width="125px">
            <h4 class="card-title">Microjobs</h4>
          </div>
        </a>

      </div>
    </div>

    <div class="col-md-4">
      <div class="card card-profile card-plain">
        <a href="/hourlies/1">
          <div class="card-body text-center ">
            <img class="img" src="../assets/img/svg/user-clock.svg" height="125px" width="125px">
            <h4 class="card-title">Hourlies</h4>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card card-profile card-plain">
        <a href="buyer_requests/1">
          <div class="card-body text-center ">
            <img class="img" src="../assets/img/svg/address-card.svg" height="125px" width="125px">
            <h4 class="card-title">Buyers Requests</h4>
          </div>
        </a>

      </div>
    </div>
  </div>
  <!--  -->
  <!--  -->
</div>