<div class="profile-page sidebar-collapse">
  <app-navprofile></app-navprofile>

  <div class="page-header" data-parallax="true" style="background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);">
    <div class="container-fluid">
      <!-- <div class="col-md-12">
        <div class="alert alert-info">
          <div class="container text-center">
            Please verify your email. We restrict certain operations if email is not verified
            <button type="button" class="ml-4 btn btn-custom button-alert"> Resend Email</button>
          </div>
        </div>
      </div> -->
    </div>

  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>